<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録画面</title>
</head>

<body>
	<h2>新規登録画面</h2>
	<form action="t" method="post" th:object="${signupForm}">
		<div>
			<label>登録するIDを入力してください</label>
			<br>
			<input type="text" th:field="*{kanriUserId}">
		</div>
		<div>
			<label>登録するパスワードを入力してください</label>
			<br>
			<input type="text" th:field="*{kanriUserPassword}">
		</div>
		<div>
			<input type="submit" value="新規登録">
		</div>
	</form>
</body>

</html>